<stage onstagelist="on" name="aa" created="2013-05-02 15:53:27.448880" lockstage="true" active="active" id="aa">
<lockstage>true</lockstage>
<avatar media="avatar_L6VttL9D" voice="" name="test" showname="show">
</avatar>
<access_one>cf</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
<onstagelist>on</onstagelist>
<lockstage>true</lockstage>
<towner>cf</towner>
</stage>