<stage onstagelist="on" name="gg" created="2013-05-04 17:14:32.446733" lockstage="true" active="active" id="gg">
<lockstage>true</lockstage>
<access_one>df</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
<onstagelist>on</onstagelist>
<lockstage>true</lockstage>
<towner>df</towner>
</stage>