<stage onstagelist="on" name="stageee" created="2013-10-17 13:41:58.525845" lockstage="false" active="active" id="stageeee">
<splash>fgxdsgfd</splash>
<access_one>Lisa</access_one>
<access_two>
</access_two>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
<onstagelist>on</onstagelist>
<lockstage>false</lockstage>
<owner>Lisa</owner>
</stage>